

.banner img{
    border-radius:50%;
    width: 70%;
    margin: 100px 0 20px 150px;
   
}

.fact{
    width:50%; 
    margin:250px 0 0 100px;
}


.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;
    height: 90vh;
    
}

@media only screen and (max-width: 688px) {

    .banner{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding:30px 40px;
        width: 100%;

    }

    .banner img{
        width: 85%;
        margin: 10px 0 0 20px;
    }


    .fact{
        width:100%; 
        margin:20px 0 0 10px;
    }

}